//congrats.scss

$sm: 960px;
$xs: 600px;

.congrats{
     @media screen and (max-width: $mobile) {
         bottom: 45%;
    }
    .header-image{
        .header-container{
            padding-top: 34px;
            max-width: 70%;
            margin: auto;
            @media screen and (max-width: $xs) {
                max-width: 80%;
            }
            .datos-basicos-title{
                    font-size: 25px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.2;
                    letter-spacing: normal;
                    color: #797979;
                }
            }
        }
    .congrats-container{
        .icono{
            margin-top: 20px;
            margin-bottom: 35px; 
        }
    }
    
}