footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    .footer-copyright{
        .copyright{
            font-size: 10px;
        }
        padding: 9px 0px 9px 0px;
        background-color: #eaeaea;
        color: #606162;
    }
}